@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&family=Rubik:wght@300&family=Tajawal:wght@300&display=swap');


body {
    background-color: white;


}
.main {
    width: 40%;
    margin-top: 45px;
    box-shadow: 1px 1px 10px rgb(146, 142, 135);
    /* padding توسع الحدود الداخلية */
    /* margin توسع الحدود الخارجية */
    padding: 20px;
}
input {
    margin-bottom:  10px;
    padding: 5px;
    width: 60%;
    
}
button {
    padding: 5px;
    background-color: #1ac15c;
    cursor: pointer;
    border: none;
    width: 35%;
}
#file {
    background-color:rgb(92, 92, 233);
    font-weight: bold;
    cursor: pointer;
    padding: 5px;
    margin: 5px;
    
}
a{
    /* لالغاء الخط اسفل الرابط */
    text-decoration: none;
    color:tomato;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(224, 127, 127);
}

header nav {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

header nav ul {
    display: flex;
}

header nav ul li a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 10px;
    font-size: large;
}
.card {
    float: right;
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 15px;
     overflow: hidden;
}
.card img {
    width: 50%;
    height:50%;
    object-fit: cover;
}
main{
    width: 30%;
}